<div class="form-group">
  <label for="add_fname">First Name:</label>
  <input type="text" class="form-control" id="add_fname" placeholder="Enter First Name">
</div>
<div class="form-group">
  <label for="add_lname">Last Name:</label>
  <input type="text" class="form-control" id="add_lname" placeholder="Enter Last Name">
</div>
<div class="form-group">
  <label for="add_email">Email:</label>
  <input type="text" class="form-control" id="add_email" placeholder="Enter Email">
</div>
<input type="button" class="btn btn-default clear" value="Clear">
<button type="submit" class="add btn btn-default">Add</button>
        
        